/* 
Trang login
 */
.content {
	width: 100%;
}

.mainContent {
	width: 30%;
	margin: 0 auto;
	margin-top: 8%;
}

.infoMenu {
	margin-right: 11px;
}

.tableUserManager {
	width: 80%;
	margin: 0 auto;
}

/* 
Trang thêm mới user 
*/
.formInsertUser {
	width: 30%;
	margin: 0 auto;
	margin-top: 3%;
}

.selectFormAddUser {
	width: 30%;
}

.tableUserManagerUser {
	width: 95%;
	margin: 0 auto;
}

.button-intop {
	margin: 2% 0% 3%;
}

/*  
trang profile
*/
.card {
	width: 50%;
	margin: 0 auto;
}

.card-img-top {
	width: 35%;
	margin: 0 auto;
}

.nutchinhsuathongtin {
	margin-left: 35%;
}

/*
lịch sử làm việc nhân viên 
 */
.TitleLichsulamviec {
	margin: 5% 0;
}