<?xml version="1.0" encoding="UTF-8"?>
<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http auto-config="true">
		<intercept-url pattern="/admin**"
			access="hasRole('ROLE_ADMIN')" />
			<intercept-url pattern="/admin/admin**"
			access="hasRole('ROLE_ADMIN')" />		
		<intercept-url pattern="/user**"
			access="hasRole('ROLE_ADMIN') or hasRole('ROLE_USER')" />

		<form-login login-page="/login"
			login-processing-url="/j_duan_login" default-target-url="/user"
			authentication-failure-url="/login?error"
			username-parameter="username" password-parameter="password" />
			<form-login login-page="/login"
			login-processing-url="/j_duan_login" default-target-url="/admin"
			authentication-failure-url="/login?error"
			username-parameter="username" password-parameter="password" />

		<logout logout-url="/j_duan_logout"
			logout-success-url="/logout" delete-cookies="JSESSIONID" />
	</http>

	<authentication-manager>
		<authentication-provider
			user-service-ref="myUserDetailsService">
			<password-encoder hash="bcrypt" />
		</authentication-provider>
	</authentication-manager>
</beans:beans>
